In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/Assignments

[Errno 2] No such file or directory: 'drive/MyDrive/Assignments'
/content/drive/MyDrive/Assignments

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.ensemble import BaggingClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('Fraud_check.csv')

In [ ]:
data.rename(columns={"Marital.Status":"Marital","Taxable.Income":"Tax","City.Population":"Population","Work.Experience":"Exp"},inplace=True)
data.sample(5)

    Undergrad   Marital    Tax  Population  Exp Urban
147       YES  Divorced  63057      163252   28    NO
398        NO   Married  17440       64070    2   YES
587        NO    Single  87685      154677   26   YES
84         NO   Married  69098      178083    4   YES
359       YES    Single  33215      157299   11    NO

In [ ]:
data["Tax"].loc[377]

56555

In [ ]:
data["income"]=""
data.loc[data["Tax"]>=30000,"income"]="Good"
data.loc[data["Tax"]<=30000,"income"]="Risky"

In [ ]:
data.drop("Tax",axis=1,inplace=True)

In [ ]:
scale=preprocessing.LabelEncoder()
for i in data.columns:
  if data[i].dtype==object:
    data[i]=scale.fit_transform(data[i])
  else:
    pass

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(data.iloc[:,0:5],data.iloc[:,5],test_size=0.2,stratify = labels)

In [ ]:
models=[DecisionTreeClassifier(),
        BaggingClassifier(n_estimators=15,max_samples=0.8),
        RandomForestClassifier(n_estimators=15,max_samples=0.8,max_features=4)]

In [ ]:
for model in models:
  model.fit(x_train,y_train)
  pred=model.predict(x_test)
  print(model)
  print("==="*20)
  print(classification_report(y_test,pred))

DecisionTreeClassifier()
============================================================
              precision    recall  f1-score   support

           0       0.80      0.78      0.79        95
           1       0.22      0.24      0.23        25

    accuracy                           0.67       120
   macro avg       0.51      0.51      0.51       120
weighted avg       0.68      0.67      0.67       120

BaggingClassifier(max_samples=0.8, n_estimators=15)
============================================================
              precision    recall  f1-score   support

           0       0.81      0.93      0.87        95
           1       0.42      0.20      0.27        25

    accuracy                           0.78       120
   macro avg       0.62      0.56      0.57       120
weighted avg       0.73      0.78      0.74       120

RandomForestClassifier(max_features=4, max_samples=0.8, n_estimators=15)
============================================================
              precision    recall  f1-score   support

           0       0.80      0.87      0.83        95
           1       0.25      0.16      0.20        25

    accuracy                           0.73       120
   macro avg       0.52      0.52      0.51       120
weighted avg       0.68      0.72      0.70       120