In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
cd drive/MyDrive/Assignments/

/content/drive/MyDrive/Assignments

In [26]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import *

In [5]:
train=pd.read_csv('SalaryData_Train(1).csv')
train.sample(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
11239,37,Private,HS-grad,9,Never-married,Other-service,Unmarried,White,Female,0,0,35,United-States,<=50K
17977,46,Private,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,70,United-States,<=50K
29004,36,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,50,United-States,>50K
24284,18,State-gov,HS-grad,9,Never-married,Adm-clerical,Own-child,Black,Male,0,0,15,United-States,<=50K
24978,31,State-gov,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,50,United-States,>50K

In [6]:
train.isna().sum().sum()

0

In [7]:
test=pd.read_csv('SalaryData_Test(1).csv')
test.sample(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
9545,43,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States,>50K
3895,61,Self-emp-not-inc,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,2444,50,United-States,>50K
5960,64,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
4806,23,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
6261,43,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

In [8]:
test.isna().sum().sum()

0

In [14]:
features_train=train.iloc[:,:-1]
features_test=test.iloc[:,:-1]

In [18]:
y_train=train.iloc[:,-1]
y_test=test.iloc[:,-1]

In [15]:
features_train.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
dtype: object

In [11]:
encode=LabelEncoder()

In [16]:
for i in features_train.columns:
  if features_train[i].dtypes==object:
    features_train[i]=encode.fit_transform(features_train[i])
  else:
    pass

for i in features_test.columns:
  if features_test[i].dtypes==object:
    features_test[i]=encode.fit_transform(features_test[i])
  else:
    pass

In [19]:
features_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37
30157,40,2,11,9,2,6,0,4,1,0,0,40,37
30158,58,2,11,9,6,0,4,4,0,0,0,40,37
30159,22,2,11,9,4,0,3,4,1,0,0,20,37
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37

In [20]:
#Normalizing
def norm_values(val):
  z=(val-val.min())/(val.max()-val.min())
  return z

In [28]:
features_train_norm=norm_values(features_train)

In [29]:
features_test_norm=norm_values(features_test)

In [30]:
features_train_norm.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,0.301370,0.833333,0.600000,0.800000,0.666667,0.000000,0.2,1.0,1.0,0.02174,0.0,0.397959,0.948718
1,0.452055,0.666667,0.600000,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.00000,0.0,0.122449,0.948718
2,0.287671,0.333333,0.733333,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.00000,0.0,0.397959,0.948718
3,0.493151,0.333333,0.066667,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.00000,0.0,0.397959,0.948718
4,0.150685,0.333333,0.600000,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.00000,0.0,0.397959,0.102564

In [24]:
train.iloc[:,-1].value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [33]:
#Linear model
model_linear=SVC(kernel='linear')
model_linear.fit(features_train_norm,y_train)
y_pred_linear=model_linear.predict(features_test_norm)
acc_linear=accuracy_score(y_test,y_pred_linear)
print('accuracy',acc_linear*100)
print('==='*20)
print(classification_report(y_test,y_pred_linear))

accuracy 80.98273572377158
============================================================
              precision    recall  f1-score   support

       <=50K       0.81      0.97      0.88     11360
        >50K       0.77      0.32      0.45      3700

    accuracy                           0.81     15060
   macro avg       0.79      0.65      0.67     15060
weighted avg       0.80      0.81      0.78     15060

In [34]:
#sigmoid model
model_sigmoid=SVC(kernel='sigmoid')
model_sigmoid.fit(features_train_norm,y_train)
y_pred_sigmoid=model_sigmoid.predict(features_test_norm)
acc_sigmoid=accuracy_score(y_test,y_pred_sigmoid)
print('accuracy',acc_sigmoid*100)
print('==='*20)
print(classification_report(y_test,y_pred_sigmoid))

accuracy 57.68924302788845
============================================================
              precision    recall  f1-score   support

       <=50K       0.72      0.72      0.72     11360
        >50K       0.14      0.14      0.14      3700

    accuracy                           0.58     15060
   macro avg       0.43      0.43      0.43     15060
weighted avg       0.58      0.58      0.58     15060

In [37]:
#rbf model
model_rbf=SVC(kernel='rbf')
model_rbf.fit(features_train_norm,y_train)
y_pred_rbf=model_rbf.predict(features_test_norm)
acc_rbf=accuracy_score(y_test,y_pred_rbf)
print('accuracy',acc_rbf*100)
print('==='*20)
print(classification_report(y_test,y_pred_rbf))

accuracy 84.32934926958832
============================================================
              precision    recall  f1-score   support

       <=50K       0.87      0.94      0.90     11360
        >50K       0.75      0.55      0.63      3700

    accuracy                           0.84     15060
   macro avg       0.81      0.74      0.77     15060
weighted avg       0.84      0.84      0.83     15060

In [38]:
#ploy model
model_poly=SVC(kernel='poly')
model_poly.fit(features_train_norm,y_train)
y_pred_poly=model_poly.predict(features_test_norm)
acc_poly=accuracy_score(y_test,y_pred_poly)
print('accuracy',acc_poly*100)
print('==='*20)
print(classification_report(y_test,y_pred_poly))

accuracy 84.35590969455511
============================================================
              precision    recall  f1-score   support

       <=50K       0.87      0.94      0.90     11360
        >50K       0.74      0.56      0.64      3700

    accuracy                           0.84     15060
   macro avg       0.80      0.75      0.77     15060
weighted avg       0.84      0.84      0.84     15060